@{
    ViewBag.Title = "联系我们";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
     XXXX<br />
    研发中心<br />
    <abbr title="Phone">P:</abbr>
    1388888888
</address>

<address>
    <strong>技术支持:</strong>   <a href="mailto:fzy@ly.com">fzy@ly.com</a><br />
    <strong>产品研发:</strong> <a href="mailto:shxmz@ly.com">shxmz@ly.com</a>
</address>