@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>珊瑚社区</h1>
    <p class="lead">XXXXXXXX...</p>
    <p><a href="http://www.ly.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>兄弟加入</h2>
        <p>
            XXXXXXXXXXXXXX...
        </p>
        <p><a class="btn btn-default" href="http://www.ly.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>工作圈子</h2>
        <p>XXXXXXXXXXXXXXX...</p>
        <p><a class="btn btn-default" href="http://www.ly.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>兴趣活动</h2>
        <p>XXXXXXXXXXXXXX...</p>
        <p><a class="btn btn-default" href="http://www.ly.com">Learn more &raquo;</a></p>
    </div>
</div>