@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>珊瑚海</h1>
    <p class="lead">XXXXXXXX...</p>
    <p><a href="http://www.ly.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>